<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>OpenPhoto</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">

    <!-- Le fav and touch icons -->
  </head>

  <body>
    <div class="container">
      <div class="row" id="header">
        <div class="span4 logo"></div>
        <div class="span2 offset2"><a href="index.html">Overview</a></div>
        <div class="span2"><a href="docs.html">Documentation</a></div>
        <div class="span2"><a href="">Community</a></div>
        <div class="span2"><a href="">Contribute</a></div>
        <div class="span2 get-started"><a href="">Get Started</a></div>
      </div>
      </div>
      <div class="row" id="footer">
        <div class="span6">
          &copy; 2011 The OpenPhoto Project | <a href="">hello@openphoto.me</a>
        </div>
        <div class="span2 offset1">
          <div class="fb-like" data-href="http://theopenphotoproject.org" data-send="false" data-layout="button_count" data-width="100" data-show-faces="true"></div>
        </div>
        <div class="span2">
          <g:plusone size="medium"></g:plusone>
        </div>
        <div class="span2">
          <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="OpenPhoto">Tweet</a>
        </div>

      </div>
    </div>

    <script src="js/jquery-1.7.1.js"></script>
    <script src="js/openphoto.js"></script>
    <script>
      OP.init(
        {
          'click:headline-carousel': OP.handler.headlineCarousel,
          'mouseover:headline-carousel': OP.handler.headlineCarousel
        }
      );
    </script>

    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) {return;}
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=239889532709130";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/plusone.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    <script type="text/javascript" src="//platform.twitter.com/widgets.js"></script> 
  </body>
</html>
