@font-face {
    font-family: 'League Gothic';
    src: url('/fonts/League_Gothic-webfont.eot');
    src: url('/fonts/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/League_Gothic-webfont.woff') format('woff'),
         url('/fonts/League_Gothic-webfont.ttf') format('truetype'),
         url('/fonts/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
}
@font-face {
    font-family: 'MuseoSans500';
    src: url('/fonts/MuseoSans_500-webfont.eot');
    src: url('/fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('/fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('/fonts/MuseoSans_500-webfont.svg#MuseoSans500') format('svg');
    font-weight: normal;
    font-style: normal;

}
body{
  font-family:'MuseoSans500';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  color:#636363;
}
h1, h2, h3, h4, h5, h6 {
  font-family:"League Gothic", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans";
  text-shadow: #fff 2px 1px 1px;
  font-weight:normal;
}
h1 {
  font-size:40px;
  color:#f05822;
}
h2, h3, h4, h5, h6 {
  color:#555;
}
h1, h2 {
  text-transform:uppercase;
}
a:link, a:visited, a:active {
  text-decoration:none;
  color:#6c934e;
}
code {
  background-color:inherit;
}
pre {
  background-color:#fff;
}
.btn .primary {
  font-weight:bold;
  font-size:16px;
}
.btn .secondary {
  font-weight:normal;
  font-style:italic;
  font-size:10px;
}
.raquo{
  position:relative;
  font-size:18px;
  top:2px;
}
.lower {
  text-transform:lowercase;
}
.footnote {
  border:0;
  padding:0;
  margin:0;
  font-size:11px;
  color:#bbb;
}
.social .footnote {
  margin:8px 0 0 0;
}
table.commits {
  margin-bottom:5px;
}
table.commits td {
  border:0;
}

.header-bg {
  background-color:#fff;
  border-bottom:solid 1px #ddd;
  height:95px;
}
#header {
  line-height:95px;
  text-align:center;
}
#header a {
  color:inherit;
}
body.overview #header a.overview, body.documentation #header a.documentation, body.community #header a.community, body.contribute #header a.contribute, body.screenshots #header a.screenshots {
  font-weight:bold;
  color:#e8270b;
}
.content-bg {
  background:url("/img/pattern-bg.png");
}
body.home .content-bg {
  background:url("/img/content-home-bg.png") repeat-x;
}
#content>h1{
  margin-top:10px;
}
#header .logo {
  height:75px;
  width:181px;
  margin:3px 0 0 60px;
  background:url("/img/openphoto-logo.png") no-repeat 0 15px;
  cursor:pointer;
}
#header .logo a {
  display:block;
  height:75px;
  width:181px;
}
#header .get-started a {
  background-color:#f5b41c;
  color:#fff;
  border-radius:6px;
  padding;3px;
  height:30px;
  line-height:30px;
  display:block;
  margin:33px 0 0;
}

#headline>div {
  height:265px;
  background:url("/img/headline-tags-bg.png") no-repeat right;
  background-offset:1px 1px;
}
#headline>div.second {
  background:url("/img/headline-os-bg.png") no-repeat right;
}
#headline>div.third {
  background:url("/img/headline-api-bg.png") no-repeat right;
}
#headline ul.links {
  margin:40px 0 0 50px;
}
#headline ul.links li {
  width:216px;
  height:41px;
  text-align:right;
  line-height:45px;
  padding-right:30px;
  margin:0 0 3px 0;
  text-shadow: #fff 2px 1px 1px;
  background:url("/img/headline-inactive.png");
  font-size:16px;
}
#headline ul.links li a {
  text-decoration:none;
  color:#c3c3c3;
}
#headline .first li.first, #headline .second li.second, #headline .third li.third {
  background:url("/img/headline-active.png");
}
#headline .first li.first a, #headline .second li.second a, #headline .third li.third a {
  color:#555;
}
#headline .get-started {
  display:block;
  float:right;
  margin:10px 0 0;
  border-radius:8px;
  background-color:#f5b41c;
  padding:10px 18px;
  color:#fff;
  font-family:"League Gothic", "Helvetica", "Arial", "Lucida Grande", "Verdana", "Gill Sans";
  font-size:24px;
  text-shadow: #d8930b 2px 1px 1px;
  text-transform:uppercase;
}
#headline .message {
  font-size:18px;
  line-height:28px;
  margin-top:45px;
}
#headline .message .first, #headline .message .second, #headline .message .third {
  position:absolute;
}
#headline .message .second, #headline .message .third {
  display:none;
}
#headline .message h1 {
}

#secondary {
  padding:15px 0;
}
#secondary>div>div, #ternary>div>div {
  padding:0 20px;
}
#secondary ul.themes {
  margin:10px 0;
}
#secondary ul.themes li {
  margin-right:20px;
}
#secondary ul.themes li a {
  border:0;
  padding:0;
}

#ternary {
  padding:15px 0;
}
#ternary h2 {
  text-shadow: #fff 2px 1px 1px;
}
#ternary ul.forum li {
  margin-bottom:3px;
}
#ternary table.commits tr td {
  padding-top:0px;
  padding-bottom:0px;
}
#ternary .press img {
  margin:0 0 10px;
  display:block;
}
#ternary .press img.webfwd {
  border-radius:10px;
}

#docs hr {
  margin:10px 0;
  height:1px;
  border-bottom:solid 1px #e3e3e3;
}
#docs .toc h1 {
  color:#555;
  font-size:22px;
  font-weight:normal;
}
#docs .toc dl {
  padding-right:20px;
  border-right:solid 1px #e3e3e3;
}
#docs .toc dl dt, #docs .toc dl dd {
  padding:2px 0 2px 10px;
}
#docs .toc dl dt.active, #docs .toc dl dd.active {
  background-color:#e3e3e3;
  border-radius:5px;
}
#docs .toc dl dt {
  font-weight:normal;
}
#docs .toc dl dd {
  margin-left:15px;
  font-size:11px;
}
#docs .doc h2, #docs .doc h3, #docs .doc h4, #docs .doc h5, #docs .doc h6 {
  text-transform:none;
  font-family: 'MuseoSans500';
  font-weight:normal;
}
#docs .doc h2, #docs .doc h3 {
  /*color:#9e9e9e;*/
}
#docs .doc h4, #docs .doc h5, #docs .doc h6 {
  /*color:#636363;*/
  color:#9e9e9e;
}
#docs .doc h5, #docs .doc h6 {
  text-transform:uppercase;
}
#docs .doc h1 {
  font-weight:normal;
}
#docs .doc h2 {
  font-size:18px;
}
#docs .doc h3 {
  font-size:16px;
}
#docs .doc h4 {
  font-size:14px;
}
#docs .doc h5 {
  font-size:20px;
  font-family:'League Gothic';
}
#docs .doc h6 {
  font-size:14px;
  text-transform:uppercase;
}
#docs .doc ul.breadcrumb a:link {
  color:#aaa;
}
#docs .doc ul.breadcrumb {
  padding-left:0;
  font-size:11px;
  border:0;
  background:inherit;
}
#error img {
  width:744px;
  height:458px;
  margin:auto;
  display:block;
}
#supporters ul li  {
  float:left;
  margin-bottom:20px;
  text-align:center;
}
#supporters ul li img {
  border-radius:6px;
  box-shadow: 2px 2px 2px #bbb;
}
#supporters ul li div {
  display:block;
}
.votebox {
  text-align:center;
  padding:5px 0;
  border:solid 1px #ddd;
  border-radius:3px;
  margin-bottom:5px;
  background-color:#eee;
}
.votebox>div {
  margin-top:0;
  line-height:10px;
  font-size:10px;
}
.votetitle {
  padding:10px 0;
}
ul.favorites li {
  border-bottom:solid 1px #e3e3e3;
  padding:10px 0;
}
ul.favorites li img {
  border-radius:6px;
  box-shadow: 2px 2px 2px #bbb;
}
.why-icons {
  margin-right:5px;
}
.get-started-block {
  border-bottom: solid 1px #ddd;
  margin-bottom:10px;
  padding-bottom:20px;
}
.get-started-block > div {
  margin-bottom:10px;
}
.footer-bg {
  background-color:#555;
}
.footer-bg #footer {
  margin:20px 0;
  font-size:12px;
}
.footer-bg #footer, .footer-bg #footer a:link, .footer-bg #footer a:visited {
  color:#fff;
}
.footer-bg #footer a {
  text-decoration:underline;
}


/* color box */
/*
    ColorBox Core Style:
    The following CSS is consistent between example themes and should not be altered.
*/
#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; overflow:hidden;}
#cboxOverlay{position:fixed; width:100%; height:100%;}
#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
#cboxContent{position:relative;}
#cboxLoadedContent{overflow:auto;}
#cboxTitle{margin:0;}
#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
.cboxPhoto{float:left; margin:auto; border:0; display:block;}
.cboxIframe{width:100%; height:100%; display:block; border:0;}

/* 
    User Style:
    Change the following styles to modify the appearance of ColorBox.  They are
    ordered & tabbed in a way that represents the nesting of the generated HTML.
*/
#cboxOverlay{background:url(/img/colorbox/overlay.png) repeat 0 0;}
#colorbox{}
    #cboxTopLeft{width:21px; height:21px; background:url(/img/colorbox/controls.png) no-repeat -101px 0;}
    #cboxTopRight{width:21px; height:21px; background:url(/img/colorbox/controls.png) no-repeat -130px 0;}
    #cboxBottomLeft{width:21px; height:21px; background:url(/img/colorbox/controls.png) no-repeat -101px -29px;}
    #cboxBottomRight{width:21px; height:21px; background:url(/img/colorbox/controls.png) no-repeat -130px -29px;}
    #cboxMiddleLeft{width:21px; background:url(/img/colorbox/controls.png) left top repeat-y;}
    #cboxMiddleRight{width:21px; background:url(/img/colorbox/controls.png) right top repeat-y;}
    #cboxTopCenter{height:21px; background:url(/img/colorbox/border.png) 0 0 repeat-x;}
    #cboxBottomCenter{height:21px; background:url(/img/colorbox/border.png) 0 -29px repeat-x;}
    #cboxContent{background:#fff; overflow:hidden;}
        .cboxIframe{background:#fff;}
        #cboxError{padding:50px; border:1px solid #ccc;}
        #cboxLoadedContent{margin-bottom:28px;}
        #cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
        #cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494;}
        #cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
        #cboxPrevious{position:absolute; bottom:0; left:0; background:url(/img/colorbox/controls.png) no-repeat -75px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxPrevious:hover{background-position:-75px -25px;}
        #cboxNext{position:absolute; bottom:0; left:27px; background:url(/img/colorbox/controls.png) no-repeat -50px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxNext:hover{background-position:-50px -25px;}
        #cboxLoadingOverlay{background:url(/img/colorbox/loading_background.png) no-repeat center center;}
        #cboxLoadingGraphic{background:url(/img/colorbox/loading.gif) no-repeat center center;}
        #cboxClose{position:absolute; bottom:0; right:0; background:url(/img/colorbox/controls.png) no-repeat -25px 0; width:25px; height:25px; text-indent:-9999px;}
        #cboxClose:hover{background-position:-25px -25px;}

/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
*/
.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
}

/*
  The following provides PNG transparency support for IE6
  Feel free to remove this and the /ie6/ directory if you have dropped IE6 support.
*/
.cboxIE6 #cboxTopLeft{background:url(/img/colorbox/ie6/borderTopLeft.png);}
.cboxIE6 #cboxTopCenter{background:url(/img/colorbox/ie6/borderTopCenter.png);}
.cboxIE6 #cboxTopRight{background:url(/img/colorbox/ie6/borderTopRight.png);}
.cboxIE6 #cboxBottomLeft{background:url(/img/colorbox/ie6/borderBottomLeft.png);}
.cboxIE6 #cboxBottomCenter{background:url(/img/colorbox/ie6/borderBottomCenter.png);}
.cboxIE6 #cboxBottomRight{background:url(/img/colorbox/ie6/borderBottomRight.png);}
.cboxIE6 #cboxMiddleLeft{background:url(/img/colorbox/ie6/borderMiddleLeft.png);}
.cboxIE6 #cboxMiddleRight{background:url(/img/colorbox/ie6/borderMiddleRight.png);}

.cboxIE6 #cboxTopLeft,
.cboxIE6 #cboxTopCenter,
.cboxIE6 #cboxTopRight,
.cboxIE6 #cboxBottomLeft,
.cboxIE6 #cboxBottomCenter,
.cboxIE6 #cboxBottomRight,
.cboxIE6 #cboxMiddleLeft,
.cboxIE6 #cboxMiddleRight {
    _behavior: expression(this.src = this.src ? this.src : this.currentStyle.backgroundImage.split('"')[1], this.style.background = "none", this.style.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=" + this.src + ", sizingMethod='scale')");
}

